body {

    background-color: #faf5f5;
    text-align: "center";
}
.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: cornsilk;
}